Repository COSC481W-2024Fall/MLite, pull requests merged in 2024-11, with the labels that each got.

#35 Added S3 setup for secure production storage
  aws/s3_setup.md
  mlite_rails_app/Gemfile
  mlite_rails_app/Gemfile.lock
  mlite_rails_app/config/environments/development.rb
  mlite_rails_app/config/environments/production.rb
  mlite_rails_app/config/storage.yml
Labels: rails, sprint-2

#32 21 rails preprocess datasets on upload
  mlite_rails_app/app/controllers/datasets_controller.rb
  mlite_rails_app/app/models/dataset.rb
  mlite_rails_app/app/views/datasets/_dataset.html.erb
  mlite_rails_app/app/views/datasets/_form.html.erb
  mlite_rails_app/app/views/datasets/show.html.erb
  mlite_rails_app/db/migrate/20241027154120_change_columns_to_json_in_datasets.rb
  mlite_rails_app/db/schema.rb
  mlite_rails_app/test/controllers/datasets_controller_test.rb
  mlite_rails_app/test/fixtures/files/sample1.csv
  mlite_rails_app/test/models/dataset_test.rb
Labels: rails, sprint-2

#37 Made the inference fields dynamic
  mlite_rails_app/app/controllers/deployments_controller.rb
  mlite_rails_app/app/views/deployments/_inference_results.html.erb
  mlite_rails_app/app/views/deployments/inference.erb
  mlite_rails_app/config/routes.rb
  mlite_rails_app/test/controllers/deployments_controller_test.rb
Labels: rails, sprint-2

#39 Training scheduler api
  mlite_rails_app/Gemfile
  mlite_rails_app/Gemfile.lock
  mlite_rails_app/app/controllers/models_controller.rb
  mlite_rails_app/app/services/sqs_message_sender.rb
  mlite_rails_app/aws/sending_message.py
  mlite_rails_app/aws/sqs_setup.md
  mlite_rails_app/config/initializers/aws.rb
Labels: rails, sprint-2

#33 Added rails code for dummy model recommendations
  mlite_rails_app/Gemfile
  mlite_rails_app/Gemfile.lock
  mlite_rails_app/app/controllers/models_controller.rb
  mlite_rails_app/app/models/dataset.rb
  mlite_rails_app/app/services/model_recommender.rb
  mlite_rails_app/app/views/models/_form.html.erb
Labels: rails, sprint-2

#40 Bcong sprint 2
  .DS_Store
  src/.DS_Store
  src/Data/.DS_Store
  src/Data/.ipynb_checkpoints/Social_Network_Ads-checkpoint.csv
  src/Data/.ipynb_checkpoints/top_rated_9000_movies_on_TMDB-checkpoint.csv
  src/Data/Social_Network_Ads.csv
  src/Data/Worlds Best 50 Hotels.csv
  src/Data/top_rated_9000_movies_on_TMDB.csv
  src/ML/.ipynb_checkpoints/Dockerfile-checkpoint
  src/ML/.ipynb_checkpoints/ML_API-checkpoint.ipynb
  src/ML/.ipynb_checkpoints/ML_API-checkpoint.py
  src/ML/.ipynb_checkpoints/ML_test-checkpoint.ipynb
  src/ML/Dockerfile
  src/ML/ML_API.ipynb
  src/ML/ML_API.py
  src/ML/ML_test.ipynb
  src/ML/ML_test.py
Labels: ml, deployment, sprint-2

#38 Set up Flask server for deployment
  flask_app/Dockerfile
  flask_app/app.py
  flask_app/requirements.txt
Labels: deployment, sprint-2

#49 Styling for Sign up/sign in pages & navbar, fix hanging issues after sprint 2 merges
  mlite_rails_app/.gitignore
  mlite_rails_app/app/controllers/deployments_controller.rb
  mlite_rails_app/app/views/deployments/_deployment.html.erb
  mlite_rails_app/app/views/devise/passwords/new.html.erb
  mlite_rails_app/app/views/devise/registrations/new.html.erb
  mlite_rails_app/app/views/devise/sessions/new.html.erb
  mlite_rails_app/app/views/layouts/_navbar.html.erb
  mlite_rails_app/app/views/layouts/application.html.erb
  mlite_rails_app/config/routes.rb
Labels: rails, sprint-3

#56 Added styling for deployment pages
  mlite_rails_app/app/controllers/deployments_controller.rb
  mlite_rails_app/app/views/deployments/_deployment.html.erb
  mlite_rails_app/app/views/deployments/_form.html.erb
  mlite_rails_app/app/views/deployments/edit.html.erb
  mlite_rails_app/app/views/deployments/index.html.erb
  mlite_rails_app/app/views/deployments/inference.erb
  mlite_rails_app/app/views/deployments/new.html.erb
  mlite_rails_app/db/schema.rb
Labels: rails, sprint-3

#57 Add config for sending emails and force verification on sign-up
  mlite_rails_app/Gemfile
  mlite_rails_app/Gemfile.lock
  mlite_rails_app/app/models/user.rb
  mlite_rails_app/app/views/devise/mailer/confirmation_instructions.html.erb
  mlite_rails_app/app/views/devise/mailer/reset_password_instructions.html.erb
  mlite_rails_app/config/environments/development.rb
  mlite_rails_app/config/environments/production.rb
  mlite_rails_app/config/initializers/devise.rb
  mlite_rails_app/config/locales/devise.en.yml
  mlite_rails_app/db/migrate/20241124230338_add_confirmable_to_users.rb
  mlite_rails_app/db/schema.rb
Labels: rails, sprint-3

#55 adding mlp, debugging one hot encode
  src/Data/archive 2/.ipynb_checkpoints/Iris-checkpoint.csv
  src/ML/.ipynb_checkpoints/ML_API-checkpoint.ipynb
  src/ML/.ipynb_checkpoints/ML_API-checkpoint.py
  src/ML/.ipynb_checkpoints/ML_test-checkpoint.ipynb
  src/ML/ML_API.ipynb
  src/ML/ML_API.py
  src/ML/ML_test.ipynb
  src/ML/ML_test.py
  src/ML/svm.pkl
Labels: ml, sprint-3
