Repository COSC481W-2024Fall/MLite, pull requests merged in 2024-10, with the labels that each got.

#17 Add user Authentication to MLite through Devise
  mlite_rails_app/Gemfile
  mlite_rails_app/Gemfile.lock
  mlite_rails_app/app/models/user.rb
  mlite_rails_app/app/views/devise/confirmations/new.html.erb
  mlite_rails_app/app/views/devise/mailer/confirmation_instructions.html.erb
  mlite_rails_app/app/views/devise/mailer/email_changed.html.erb
  mlite_rails_app/app/views/devise/mailer/password_change.html.erb
  mlite_rails_app/app/views/devise/mailer/reset_password_instructions.html.erb
  mlite_rails_app/app/views/devise/mailer/unlock_instructions.html.erb
  mlite_rails_app/app/views/devise/passwords/edit.html.erb
  mlite_rails_app/app/views/devise/passwords/new.html.erb
  mlite_rails_app/app/views/devise/registrations/edit.html.erb
  mlite_rails_app/app/views/devise/registrations/new.html.erb
  mlite_rails_app/app/views/devise/sessions/new.html.erb
  mlite_rails_app/app/views/devise/shared/_error_messages.html.erb
  mlite_rails_app/app/views/devise/shared/_links.html.erb
  mlite_rails_app/app/views/devise/unlocks/new.html.erb
  mlite_rails_app/config/initializers/devise.rb
  mlite_rails_app/config/locales/devise.en.yml
  mlite_rails_app/config/routes.rb
  mlite_rails_app/db/migrate/20241004074019_devise_create_users.rb
  mlite_rails_app/db/schema.rb
  mlite_rails_app/test/fixtures/users.yml
  mlite_rails_app/test/models/user_test.rb
Labels: sprint-1, rails

#19 Scaffold Dataset Model and File Upload Validation
  mlite_rails_app/app/controllers/datasets_controller.rb
  mlite_rails_app/app/controllers/test/controllers/datasets_controller_test.rb 
  mlite_rails_app/app/helpers/datasets_helper.rb
  mlite_rails_app/app/models/dataset.rb
  mlite_rails_app/app/models/test/models/dataset_test.rb
  mlite_rails_app/app/models/user.rb
  mlite_rails_app/app/views/datasets/_dataset.html.erb
  mlite_rails_app/app/views/datasets/_dataset.json.jbuilder
  mlite_rails_app/app/views/datasets/_form.html.erb
  mlite_rails_app/app/views/datasets/edit.html.erb
  mlite_rails_app/app/views/datasets/index.html.erb
  mlite_rails_app/app/views/datasets/index.json.jbuilder
  mlite_rails_app/app/views/datasets/new.html.erb
  mlite_rails_app/app/views/datasets/show.html.erb
  mlite_rails_app/app/views/datasets/show.json.jbuilder
  mlite_rails_app/config/routes.rb
  mlite_rails_app/db/migrate/20241005034111_create_datasets.rb
  mlite_rails_app/db/migrate/20241008154845_create_active_storage_tables.active_storage.rb
  mlite_rails_app/db/migrate/20241008231032_add_user_to_datasets.rb
  mlite_rails_app/db/schema.rb
  mlite_rails_app/test/controllers/datasets_controller_test.rb
  mlite_rails_app/test/fixtures/datasets.yml
  mlite_rails_app/test/fixtures/users.yml
  mlite_rails_app/test/models/dataset_test.rb
  mlite_rails_app/test/system/datasets_test.rb
Labels: enhancement, sprint-1, rails

#20 Ali-Almadhagi/10 rails add pages functionality for models
  .gitignore
  mlite_rails_app/.gitignore
  mlite_rails_app/app/controllers/datasets_controller.rb
  mlite_rails_app/app/controllers/models_controller.rb
  mlite_rails_app/app/helpers/models_helper.rb
  mlite_rails_app/app/models/dataset.rb
  mlite_rails_app/app/models/model.rb
  mlite_rails_app/app/views/models/_form.html.erb
  mlite_rails_app/app/views/models/_model.html.erb
  mlite_rails_app/app/views/models/_model.json.jbuilder
  mlite_rails_app/app/views/models/edit.html.erb
  mlite_rails_app/app/views/models/index.html.erb
  mlite_rails_app/app/views/models/index.json.jbuilder
  mlite_rails_app/app/views/models/new.html.erb
  mlite_rails_app/app/views/models/show.html.erb
  mlite_rails_app/app/views/models/show.json.jbuilder
  mlite_rails_app/config/routes.rb
  mlite_rails_app/db/migrate/20241001151656_create_models.rb
  mlite_rails_app/db/migrate/20241002173627_create_active_storage_tables.active_storage.rb
  mlite_rails_app/db/migrate/20241009000924_add_dataset_to_models.rb
  mlite_rails_app/db/schema.rb
  mlite_rails_app/test/controllers/models_controller_test.rb
  mlite_rails_app/test/fixtures/models.yml
  mlite_rails_app/test/models/model_test.rb
  mlite_rails_app/test/system/models_test.rb
Labels: sprint-1, rails

#16 Merge nicholas-fiori/deployments-rails-add-pages-and-functionality from Sprint 1
  .DS_Store
  mlite_rails_app/app/controllers/deployments_controller.rb
  mlite_rails_app/app/helpers/deployments_helper.rb
  mlite_rails_app/app/models/deployment.rb
  mlite_rails_app/app/models/model.rb
  mlite_rails_app/app/views/deployments/_deployment.html.erb
  mlite_rails_app/app/views/deployments/_deployment.json.jbuilder
  mlite_rails_app/app/views/deployments/_form.html.erb
  mlite_rails_app/app/views/deployments/edit.html.erb
  mlite_rails_app/app/views/deployments/index.html.erb
  mlite_rails_app/app/views/deployments/index.json.jbuilder
  mlite_rails_app/app/views/deployments/new.html.erb
  mlite_rails_app/app/views/deployments/show.html.erb
  mlite_rails_app/app/views/deployments/show.json.jbuilder
  mlite_rails_app/config/routes.rb
  mlite_rails_app/db/migrate/20240930183902_create_deployments.rb
  mlite_rails_app/db/migrate/20241009004952_add_model_to_deployments.rb
  mlite_rails_app/db/schema.rb
  mlite_rails_app/test/controllers/deployments_controller_test.rb
  mlite_rails_app/test/fixtures/deployments.yml
  mlite_rails_app/test/models/deployment_test.rb
  mlite_rails_app/test/system/deployments_test.rb
  src/.DS_Store
  src/Data/.DS_Store
Labels: sprint-1, rails

#18 Dockerize and deploy Rails app to AWS
  mlite_rails_app/app/controllers/test/controllers/datasets_controller_test.rb 
  mlite_rails_app/app/models/test/models/dataset_test.rb
  mlite_rails_app/config/database.yml
  mlite_rails_app/config/environments/production.rb
Labels: sprint-1, deployment

#31 Refine rails pages and relations
  mlite_rails_app/app/controllers/datasets_controller.rb
  mlite_rails_app/app/controllers/deployments_controller.rb
  mlite_rails_app/app/controllers/home_controller.rb
  mlite_rails_app/app/controllers/models_controller.rb
  mlite_rails_app/app/helpers/home_helper.rb
  mlite_rails_app/app/models/dataset.rb
  mlite_rails_app/app/models/deployment.rb
  mlite_rails_app/app/models/model.rb
  mlite_rails_app/app/models/user.rb
  mlite_rails_app/app/views/datasets/_dataset.html.erb
  mlite_rails_app/app/views/datasets/_dataset.json.jbuilder
  mlite_rails_app/app/views/datasets/_form.html.erb
  mlite_rails_app/app/views/datasets/index.json.jbuilder
  mlite_rails_app/app/views/datasets/show.html.erb
  mlite_rails_app/app/views/datasets/show.json.jbuilder
  mlite_rails_app/app/views/deployments/_deployment.json.jbuilder
  mlite_rails_app/app/views/deployments/_form.html.erb
  mlite_rails_app/app/views/deployments/index.json.jbuilder
  mlite_rails_app/app/views/deployments/show.json.jbuilder
  mlite_rails_app/app/views/home/index.html.erb
  mlite_rails_app/app/views/layouts/_navbar.html.erb
  mlite_rails_app/app/views/layouts/application.html.erb
  mlite_rails_app/app/views/models/_form.html.erb
  mlite_rails_app/app/views/models/_model.json.jbuilder
  mlite_rails_app/app/views/models/index.json.jbuilder
  mlite_rails_app/app/views/models/show.html.erb
  mlite_rails_app/app/views/models/show.json.jbuilder
  mlite_rails_app/config/routes.rb
  mlite_rails_app/test/controllers/datasets_controller_test.rb
  mlite_rails_app/test/controllers/deployments_controller_test.rb
  mlite_rails_app/test/controllers/home_controller_test.rb
  mlite_rails_app/test/controllers/models_controller_test.rb
  mlite_rails_app/test/fixtures/datasets.yml
  mlite_rails_app/test/fixtures/deployments.yml
  mlite_rails_app/test/fixtures/files/sample.csv
  mlite_rails_app/test/fixtures/models.yml
  mlite_rails_app/test/fixtures/users.yml
  mlite_rails_app/test/models/dataset_test.rb
  mlite_rails_app/test/models/deployment_test.rb
  mlite_rails_app/test/models/model_test.rb
  mlite_rails_app/test/system/datasets_test.rb
  mlite_rails_app/test/system/deployments_test.rb
  mlite_rails_app/test/system/models_test.rb
Labels: rails, sprint-2
